[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Research paper
[access "refs/*"]
	owner = group user/advaitranade
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/advaitranade
	label-Verified = -1..+1 group user/advaitranade
	push = group user/advaitranade
	read = group user/advaitranade
	rebase = group user/advaitranade
	removeReviewer = group user/advaitranade
	submit = group user/advaitranade
[access "refs/heads/*"]
	create = group user/advaitranade
	push = +force group user/advaitranade
	pushMerge = group user/advaitranade
	read = group user/advaitranade
[access "refs/tags/*"]
	push = group user/advaitranade
	push = +force group user/advaitranade
